<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="labs.dadm.l0603b_bottomnavigationview">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="labs.dadm.l0603b_bottomnavigationview.activities.BottomNavigationActivity">
            <!-- This is the entry point to the application -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
